<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" type="text/css" rel="stylesheet" media="screen" property="stylesheet" />
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    </head>
    <body>
    <h2>Vous êtes à l'accueil</h2>
    <ul>
        <% for(var i=0; i < books.length; i++) { %>
            <li><%= books[i].name %> - <%= books[i].EUR_price %>€ - <input type="button" class="buyit" value="COMMANDER" data-id="<%= books[i].id%>"></li>
        <% } %>
    </ul>

    <div class="modal">    
    </div>

    <script>
        $('.buyit').on('click', function(event){
            $.get( "order", { "id": $(this).data("id") } )
            .done(function( data ) {
                if (data == 'not_logged'){
                    $.get('/login', function(html) {
                        $(html).appendTo('body').modal();
                    });
                }else{
                    alert( data.result );
                }
            });
        });
    </script>
    </ul>
    </body>
</html>