<form action="" method="POST" style="display: inline-block;">
    <p><label>Email:</label><input type="text" name="email"></p>
    <p><label>Password:</label><input type="password" name="pwd"></p>
    <p><input type="submit" value="Register"></p>
</form>